@(contact: Contact, contactForm: Form[Contact])
@import helper._
@main("Редактирование контакта") {

    <h2 align=center>Редактировать контакт</h2>

    @form(routes.Application.editContact()) {
    <table align="center">
        <tr>
            <td></td>
            <td>Имя</td>
            <td>Мобильный телефон</td>
            <td>Домашний телефон</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="hidden" name="id" value="@contact.id" /></td>
	        <td><input type="text" name="name" class="form-control" value="@contact.name" /></td>
	        <td><input type="text" name="mobphone" class="form-control" value="@contact.mobphone" /></td>
	        <td><input type="text" name="homephone" class="form-control" value="@contact.homephone" /></td>
	        <td><input type="submit" class="btn btn-primary" value="Редактировать"></td>
        <tr>
    </table>
    }
}
