@(contactForm: Form[Contact])
@import helper._
@main("Редактирование контакта") {
    <h2 align=center>Редактировать контакт</h2>
    @form(routes.Application.editContact()) {
    <table align="center">
        <tr>
            <td><input type="hidden" name="id" value="@contactForm("id").value" /></td>
	        <td class="inputtext">@inputtext(contactForm("name"), "Имя:")</td>
	        <td class="inputtext">@inputtext(contactForm("mobphone"), "Мобильный телефон:")</td>
	        <td class="inputtext">@inputtext(contactForm("homephone"), "Домашний телефон:")</td>
	        <td class="inputtext"><input type="submit" class="btn btn-primary" value="Редактировать"></td>
        <tr>
    </table>
    }
}
