@(contacts: List[Contact], contactForm: Form[Contact])
@import helper._
@main("Записная книжка") {
    
    <h1 align=center>@contacts.size() контакт(ов)</h1>
    <table border="2" align="center">
        <thead>
	        <tr>
		        <td>Имя</td>
		        <td>Мобильный телефон</td>
		        <td>Домашний телефон</td>
		        <td colspan="2" style="text-align: center;">Действия</td>
	        </tr>
        </thead>
        <tbody>
            @for(contact <- contacts) {
	        <tr>
		        <td>@contact.name</td>
		        <td>@contact.mobphone</td>
		        <td>@contact.homephone</td>
                <td>
		        @form(routes.Application.openContact(contact.id)) {
                    <input type="submit" value="Редактировать">
		        }
		        </td>
		        <td>
		        @form(routes.Application.deleteContact(contact.id)) {
                    <input type="submit" value="Удалить">
		        }
		        </td>
	        </tr>
            }
        </tbody>
    </table>

    <h2 align=center>Добавить новый контакт</h2>

    @form(routes.Application.newContact()) {
    <table align="center">
        <tr>
	        <td>Имя:</td>
	        <td><input type="text" name="name" /></td>
	    </tr>
	    <tr>
	        <td>Мобильный телефон:</td>
	        <td><input type="text" name="mobphone" /></td>
	    </tr>
	    <tr>
	        <td>Домашний телефон:</td>
	        <td><input type="text" name="homephone" /></td>  
	    </tr>
	    <tr>  
	        <td></td>
	        <td style="text-align: right;"><input type="submit" value="Создать"></td>
        <tr>
    </table>
    } 
}